[submodule "alacritty-theme"]
	path = configs/alacritty-theme
	url = https://github.com/eendroroy/alacritty-theme
[submodule "xcompose"]
	path = configs/xcompose
	url = https://github.com/kragen/xcompose
