#include "solarized-dark.xresources"

URxvt*font: xft:Source Code Pro for Powerline:size=9,\
            -*-unifont-*-*-*-*-*-*-*-*-*-*-*-*
URxvt*boldFont: xft:Source Code Pro for Powerline:bold:size=9

URxvt.iso14755:            false
URxvt.termName:            rxvt-256color
!
! Get solarized to work despite gremlin infestation
!

URxvt.intensityStyles: false

! scroll bar
!
URxvt*scrollBar:           true
URxvt*thickness:           7
!URxvt*scrollColor:         #1E1E1E
URxvt*troughColor:         #333333
URxvt*scrollBar_floating:  false
URxvt*scrollBar_right:     true
URxvt*scrollstyle:         plain
!
! stuff expected of a modern terminal
!
! url matching, scrolling in man and less
URxvt.perl-ext-common:     default,matcher,vtwheel
URxvt.url-launcher:        /usr/bin/firefox
URxvt.matcher.button:      1
