:host-context(.platform-linux) .monospace,
:host-context(.platform-linux) .source-code,
.platform-linux .monospace,
.platform-linux .source-code {
    font-size: 14px !important;
    font-family: Iosevka, monospace !important;
}

.monospace,
.source-code {
    font-size: 14px !important;
    font-family: Iosevka, monospace !important;
}

::shadow .monospace,
::shadow .source-code {
    font-size: 14px !important;
    font-family: Iosevka, monospace !important;
}
