"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[snapshot]
# auto-track things EXCEPT in repo root where I keep putting junk files
auto-track = "glob:*/**/*"

[gerrit]
enabled = false

[templates]
commit_trailers = '''
if(
  config("gerrit.enabled").as_boolean() && !trailers.contains_key("Change-Id"),
  format_gerrit_change_id_trailer(self)
)
'''
draft_commit_description = '''
concat(
  coalesce(description, "", "\n"),
  surround(
    "\nJJ: This commit contains the following changes:\n", "",
    indent("JJ:     ", diff.stat(72)),
  ),
  "\nJJ: ignore-rest\n",
  diff.git(),
)
'''
git_push_bookmark = '"jade/push-" ++ change_id.short()'
# if there's no description, show the diffstat
log = '''
builtin_log_compact
++ if(
    !description && !empty,
    diff.summary(),
)
++ if(
    conflict,
    self.files(
        "all()"
    ).filter(
        |file| file.conflict()
    ).map(
        |file| label(
            "conflict",
            concat("conflict ", file.path())
        )
    ).join("\n")
)
'''

[template-aliases]
# Extract `[DUX-1234]` or `DUX-1234` at the start of a description into
# `DUX-1234`.
"jira_issue_prefix(description)" = '''
  description
    .match(regex:'^\[?[[:upper:]]+-[[:digit:]]+\]?[[:blank:]]+')
    .replace(regex:'[[:blank:]\[\]]+', "")
'''

[git]
private-commits = "description(glob:'wip:*') | description(glob:'private:*')"

[ui]
pager = "delta"
diff-formatter = ":git"

default-command = "log"

[aliases]
# jj jj jj commit
jj = []
l = ["log", "-r", "trunk():: & mine()"]
fetch = ["git", "fetch"]
fo = ["git", "fetch", "--remote", "origin"]
fj = ["git", "fetch", "--remote", "jade"]
po = ["git", "push", "--remote", "origin"]
pon = ["git", "push", "--remote", "origin", "--allow-new", "-b"]
pj = ["git", "push", "--remote", "jade"]
give = ['squash', '--use-destination-message', '--from', '@', '--into']
take = ['squash', '--use-destination-message', '--into', '@', '--from']
# pre-commit tool: https://github.com/jj-vcs/jj/issues/405#issuecomment-2744406580
check = [
  "util",
  "exec",
  "--",
  "bash",
  "-c",
  "jj diff -r \"${1:-ancestors(@) ~ ancestors(trunk())}\" --name-only --no-pager | xargs pre-commit run --files",
]
pr = ["util", "exec", "jj-pr"]
rev-parse = ["log", "--no-graph", "--template", 'commit_id ++ "\n"', "--revisions"]
rt = ["rebase", "-d", "trunk()"]
tug = ["bookmark", "move", "--from", "heads(::@- & bookmarks())", "--to", "@-"]
init = ["git", "init", "--colocate"]

[revset-aliases]
# https://github.com/jj-vcs/jj/discussions/5669
'why_immutable(r)' = '(r & immutable()) | roots(r:: & immutable_heads())'
'T' = 'trunk()'

[user]
name = "Jade Lovelace"
email = "software@lfcode.ca"

[diff.color-words]
conflict = "pair"

[fix.tools.rustfmt]
command = ["rustfmt", "+nightly", "--emit", "stdout"]
patterns = ["glob:'**/*.rs'"]
enabled = false

[fix.tools.terraform-fmt]
command = ["terraform", "fmt", "-"]
patterns = ["glob:'**/*.tf'"]
enabled = true

[fix.tools.nixfmt-rfc-style]
command = ["nixfmt", "-"]
patterns = ["glob:'**/*.nix'"]
enabled = false

[fix.tools.buildifier-build]
command = ["buildifier", "-type=build", "-"]
patterns = ["glob:'**/BUCK'", "glob:'**/BUILD'"]
enabled = true

[fix.tools.buildifier-bzl]
command = ["buildifier", "-type=bzl", "-"]
patterns = ["glob:'**/*.bzl'", "glob:'**/*.bxl'"]
enabled = true

[fix.tools.keep-sorted]
command = ["keep-sorted", "-"]
# i wonder if this is a good idea to throw *all* files through this. there's no
# pattern for "no binary files".
patterns = ["glob:'**/*'"]
enabled = true

[[--scope]]
--when.repositories = ["~/lix"]
[--scope.user]
email = "jade@lix.systems"
