[Unit]
Description=Set battery charge thresholds

[Service]
Type=oneshot
ExecStart=/usr/local/bin/set-batt-levels 40 80

[Install]
WantedBy=multi-user.target
