@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* only needed once */

#tabbrowser-tabs .tabbrowser-tab .tab-close-button {display:none!important}

.tab-background {
    border-radius: initial !important;
    margin-block: initial !important;
}
