nnoremap ; :
set surround
set commentary
let mapleader = ","
nmap g] <Action>(GotoNextError)
nmap <space>g <Action>(FindInPath)
nmap gr <Action>(FindUsages)
nmap gy <Action>(GotoTypeDeclaration)
nmap <Leader>f <Action>(ReformatCode)
nmap <Leader>rn <Action>(RenameElement)
nmap gqq <Action>(com.andrewbrookins.idea.wrap.WrapAction)
vmap gq <Action>(com.andrewbrookins.idea.wrap.WrapAction)
