name: Copybara
on:
  push:
    branches:
      - main
    paths:
      - vim-plugins/**
      - .github/**

jobs:
  copybara:
    name: Copybara
    runs-on: ubuntu-latest
    steps:
      - name: Set up GitHub app creds
        id: get-github-token
        uses: getsentry/action-github-app-token@d4b5da6c5e37703f8c3b3e43abb5705b46e159cc # v3
        with:
          app_id: ${{ secrets.GH_APP_ID }}
          private_key: ${{ secrets.GH_APP_PRIVATE_KEY }}

      - uses: samueldr/lix-gha-installer-action@f526e761e1ad201b0f4231f61a2a569f17bcc2ac

      - uses: actions/checkout@v4
        with:
          token: ${{ steps.get-github-token.outputs.token }}

      # of course actions/checkout does this for you but only locally for the
      # single repo. that's unhelpful!
      - name: Set up token globally
        run: |
          # make sure that we are never set -x here
          set +x
          tok_b64=$(echo -n "x-access-token:${{ steps.get-github-token.outputs.token }}" | base64)
          # don't leak it!
          echo "::add-mask::$tok_b64"
          git config --global 'http.https://github.com/.extraheader' "AUTHORIZATION: basic ${tok_b64}"

      - name: git config
        run: |
          git config --global user.name 'jade.fyi copybara'
          git config --global user.email 'copybara@noreply.jade.fyi'

      - name: Run copybara
        run: |
          nix run ./configs/nix#pkgs.ci.copybara-workflow
